Arpeggio==2.0.2
attrs==25.3.0
debugpy==1.8.15
dill==0.4.0
grpcio==1.66.2
parver==0.5
protobuf==4.25.8
pulumi==3.186.0
pulumi_aws==7.1.0
pulumi_docker==4.8.0
pulumi_random==4.18.3
PyYAML==6.0.2
semver==3.0.4